<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sampleEditor -->
      <package
            uri="http://org.mindmup/"
            class="mindmup.MindmupPackage"
            genModel="model/sampleEditor.genmodel"/>
   </extension>

</plugin>
